@import url('https://fonts.googleapis.com/css?family=Lato|Medula+One');

html {
min-width: 320px;

  font-size: 62.5%;
}

body {color: #fff;
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  }

p {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  }

h1, h2, h3, h4 {
  margin: 1.414rem 0 0.5rem;
font-weight: inherit;
  line-height: 1.2;
  }

h1 {
  margin-top: 0;
  color: white;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);

  font-family: 'Medula One', cursive;
  font-size: 6.854rem;
}

h2 {font-size: 4.236rem;}

h3 {font-size: 2.618rem;}

h4 {font-size: 1.618rem;}

small, .font_small {font-size: 0.618rem;}


.bouton{
  font-family: 'Medula One', cursive;
}

/**
  * fluid typo
  * font-size: calc(minfsize + (maxfsize - minfsize) * (100vw - minss)/(maxss-minss));
  */





@media screen and (min-width: 1024px) {
  h1{
    font-size: 138px;
  }
  header{
    height: 150px;
  }
  .coups, .timer{
    font-size: 50px;
  }
  .coups{
    margin-left: 250px;
  }


  img{
    width: 100px;
    height: 100px;
  }
  .jeu{
    height: calc(100vh - 230px);
  }
}

@media screen and (max-width: 1024px) {
  h1{
    font-size: calc(88px + 50 * (100vw - 768px)/256);
  }
  header{
    height: calc(100px + 50 * (100vw - 768px)/256);
  }
  img{
    width: 100px;
    height: 100px;
  }
  .coups, .timer{
    font-size: 50px;
  }
  .jeu{
    height: calc(100vh - (180px + 50 * (100vw - 768px)/256));
  }
}
@media screen and (max-width: 768px) {
  h1{
    font-size: 88px;
  }
  header{
    height: 100px;
  }
  img{
    width: 100px;
    height: 100px;
  }
  .jeu{
    height: calc(100vh - 180px);
  }
}

@media screen and (min-width: 768px) {
  .deck{
    align-items: center;
    grid-template-areas: "card card card card card"
                         "card card card card card"
                         "card card card card card"
                         "card card card card card";
    grid-gap: 1.5vw;
  }

  .coups, .timer{
    font-size: calc(30px + 20 * (100vw - 425)/(342));
  }
  .bouton{
    margin-top: 50px;
  }
}


@media screen and (max-width: 425px) {
  img{
    width: calc(55px + 20 * (100vw - 320px)/(105));
    height: calc(55px + 20 * (100vw - 320px)/(105));
  }
  .coups, .timer{
    font-size: 30px;
  }
}
