/* ====================== Master ====================== */


li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
}

h2{
  margin: 0;
  padding: 0;
  text-align: center;
  color: black;
}

h3{
  color: #ffe54c;
}

p{
  padding: 0;
  margin: 0;
  color: white;
}

a{
  color: white;
  text-decoration: none;
}

.bouton{
  display: flex;
  align-items: center;
}
.buttonStart, .submit{
  width: 150px;
  margin-top: 10px;
  background-color: #ffb300;
  border-radius: 35px;
  line-height: 85px;
  color: #333;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  margin: auto;
}
.buttonStart:hover{
  border: 3px groove #fff;
}

.coups{
  margin-left: 50px;
}

span{/*
  margin-top: 10px;
  background-color: #ffe54c;
  border-radius: 15px;
  color: black;
  padding: 15px 32px;*/
  text-align: center;/*
  text-decoration: none;
  text-shadow: 1px 1px white;
  display: inline-block;
  font-size: 16px;
  border: 2px ridge #ffe54c;
  cursor: pointer;*/
}
span:hover{
  /*mettre un style hover*/
}
/* ====================== header ====================== */

header{
  background-color: #005cb2;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ====================== Body ====================== */
main{
/*  background: linear-gradient(#005cb2,#6ad7ff);*/
      background-color: #1e88e5;
}


.jeu, .mentions{
}
.regle{
  text-align: center;
  margin: 0;
  padding:5px 5px 5px 5px;
  font-size: 24px;
  border-radius: 10px;
  border: 2px solid #ffe54c;
}
.jeu{
  height: calc(100vh - 180px);
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mentions{
  padding: 30px 20px 20px 20px;
}

.deck{
  align-items: center;
  display: grid;
  grid-template-areas: "card card card card"
                       "card card card card"
                       "card card card card"
                       "card card card card"
                       "card card card card";
  grid-gap: 1vw;
}

img{
  border-radius: 15px;
  width: 55px;
  height: 55px;
  border: 3px groove #6ad7ff;
  cursor: pointer;
  transition: all 0.2s ease-in;
  position: relative;
}
img:hover{
  box-shadow: 5px 5px 20px black;
  bottom: 10px;
}
/* ====================== Footer ====================== */

footer{
  background-color: #6ad7ff;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer p{
  text-align: left;
  margin-right: 15px;
  margin-bottom: 0;
}

/*classe js*/
.cacher{
  display: none;
}
.styleCard{
border: 3px groove #005cb2;/*j'ai mis un style regarde si sa te vas
il s'applique qd on retourne les cartes*/
}
/*formulaire*/

form{
	justify-content: center;
}
.contener{
	text-align: center;
}

input.line{
	background-color: inherit;
	border: none;
	border-bottom: 2px solid #ffb300;
}

input::placeholder{
  /*color: black;*/
}
input{
	background-color: #ffb300;
  font-size: 23px;
}
label{
  font-size: 23px;
  margin-left: 15px;
  /*color: black;*/
}
::placeholder {
    color: #fff;
    opacity: 0.8; /* Firefox */
}
#totalTime, #totalCoups{/*
  font-size: 20px;*/
}
