/* ====================== Master ====================== */


li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
}

h1{
  color: white;
  text-shadow: 2px 2px black;
}

h2{
  margin: 0;
  text-align: center;
  color: black;
}

h3{
  color: #ffe54c;
}

p{
  padding: 0;
  margin: 0;
  color: white;
}

a{
  color: white;
  text-decoration: none;
}

span{
  margin-top: 10px;
  background-color: #ffe54c;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* ====================== header ====================== */

header{
  background-color: #005cb2;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ====================== Body ====================== */

.jeu, .mentions{

      background-color: #1e88e5;
}
.jeu{
    height: calc(100vh - 180px);
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mentions{
  padding: 0px 20px 20px 20px;
}

.deck{
  align-items: center;
  display: grid;
  grid-template-areas: "card card card card"
                       "card card card card"
                       "card card card card"
                       "card card card card"
                       "card card card card";
  grid-gap: 3vw;
}

img{
  border-radius: 15px;
  width: 200px;
  height: 200px;
}

/* ====================== Footer ====================== */

footer{
  background-color: #6ad7ff;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer p{
  text-align: left;
  margin-right: 15px;
}

/*classe js*/
.cacher{
  display: none;
}
.styleCard{
  /*donner un style pour les carte retournées*/
}
/*formulaire*/
@import url('https://fonts.googleapis.com/css?family=Lato|Medula+One');


form{
	justify-content: center;
}
.contener{
	text-align: center;
}

input.line{
	background-color: #1e88e5;
	border: none;
	border-bottom: 2px solid #ffb300;
}

input{
	background-color: #ffb300;
}
