/*classe js*/
.cacher{
  display: none;
}
/*formulaire*/
@import url('https://fonts.googleapis.com/css?family=Lato|Medula+One');


form{
	justify-content: center;
}
.contener{
	text-align: center;
}

input.line{
	background-color: #1e88e5;
	border: none;
	border-bottom: 2px solid #ffb300;
}

input{
	background-color: #ffb300;
}
